# TwelveLabs Search API testing material and keygen tools.
Backend/TLSearchAPI/trainingdata
Backend/TLSearchAPI/index_id.txt
Backend/TLSearchAPI/index.py
Backend/TLSearchAPI/*.env
Backend/TLSearchAPI/processing_stats.db

# Virtual Environment contents.
sentinel-venv/